:root {
	--primary-white-color: #ffffff;
	--bg-btn-color: rgb(115, 0, 4);
	--bg-search-input-color: rgb(255, 255, 255);
	--bg-clients-color: rgb(16, 16, 16, 0.102);
	--bg-advant-list-color: rgb(0, 0, 0, 0.4);
	--search-text-color: rgba(254, 254, 254, 0.4);
	--lang-text-color: rgba(255, 255, 255, 0.8);
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0;
}
img {
	display: block;
	max-width: 100%; 
	height: auto;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	color: var(--primary-white-color);
	font-family: Open Sans, sans-serif;
	background-color: black;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container {
	max-width: 1170px;
	width: 100%;
	height: 100%;
	padding: 0 15px 0 15px;
	margin: 0 auto 0 auto;
}


/*шапка*/
header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
	width: 100%;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 15px 32px 15px;
}
.logo-link {
	/*margin-right: 85px;*/
}
.tel-numbers {
	margin-right: 78px;
	font: 400 20px/0.657 Open Sans, sans-serif;
	color: rgb(255, 255, 255);
}

.tel-numbers-main {
	position: relative;
}
.tel-numbers-main:after {
	content: '';
	width: 10px;
	border: solid transparent;
	border-top-color: white;
	position: absolute;
	right: -15px;
	top: 80%;
}
.tel-numbers-sub {
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 5px;
	width: 100%;
	opacity: 0;
}
.other-numbers {
	display: block;
	padding: 5px 0px;
}
.tel-numbers-main:hover .tel-numbers-sub{
	opacity: 1;
}
.tel-numbers-main:hover:after {
	transform: rotate(180deg) translateY(3px);
}
.social {
	display: flex;
	align-items: center;
	margin-right: 65px;
}
.social-item:not(:last-child) {
	margin-right: 27px;
}

.search {
	position: relative;
	margin-right: 45px;
}
.search-input {
	padding: 10px 10px 10px 21px;
	width: 144px;
	border-radius: 25px;
	box-sizing: border-box;
	border: none;
	background-color: #cccccc;
}
.search-label {
	position: absolute;
	left: 21px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
	line-height: 1.094;
	color: var(--search-text-color);
}
.search-icon:after {
	position: absolute;
	left: 55px;
	bottom: 10px;
	margin-left: 63px;
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(../img/search.png);
	pointer-events: none;
}
/*.search-label:after {
	position: absolute;
	left: 100%;
	bottom: -1px;
	margin-left: 63px;
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(../img/search.png);
}*/
.search-input:focus .search-label,
.search-input:not(:placeholder-shown) + .search-label {
	opacity: 0;
}
.search-submit {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	border: none;
	opacity: 0;
}

.lang {
	/*position: relative;*/
	margin-right: 48px;
	font-size: 12px;
	color: var(--lang-text-color);
	text-transform: uppercase;
	line-height: 1.094;
}
.lang-item-main {
	position: relative;
}
.lang-sub {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	opacity: 0;
}
.lang-item-main:hover .lang-sub{
	opacity: 1;
}
.lang-item-main:hover:after {
	transform: rotate(180deg) translateY(6px);
}
.lang-item-main:after {
	content: '';
	width: 6px;
	border: solid transparent;
	border-top-color: white;
	position: absolute;
	right: -15px;
	top: 50%;
}

.log-in-icon {
	display: inline-block;
	
	width: 25px;
	height: 25px;

	background-image: url(../img/log-in.png);
	background-size: contain;
}
.log-in-text {
	display: none;
}
.log-in {
	display: flex;
	align-items: center;
	
	padding: 6px 8px 5px 5px;
	width: 38px;
  	height: 36px;
	border-radius: 15px;

	background-color: var(--bg-btn-color);
	box-shadow: 0px 0px 2px 0px rgba(1, 0, 0, 0.25);
	
}



.sand-link {
	display: inline-block;
	height: 30px;
}
.sand {
	/*position: relative;*/
	display: inline-block;
	width: 41px;
	height: 5px;
	background: var(--primary-white-color);

	transition: transform 250ms;
}
.sand:before,
.sand:after {

	/*position: absolute;*/
	display: block;
	content:"";
	width: 41px;
	height: 5px;
	background: var(--primary-white-color);
	display: block;
}
.sand:before {
	margin-top: 13px;
}
.sand:after {
	margin-top: -31px;
}
.sand-link:hover .sand:before {
	transform: rotate(90deg) translateX(-12px);
	top: 0;
}
.sand-link:hover .sand {
	transform: rotate(-45deg);
	top: 50%;
}
.sand-link:hover .sand:after {
	opacity: 0;
}

/*герой*/
.hero {
	position: relative;
	display: flex;
	margin: 0 auto 35px auto;
	max-width: 1910px;
	min-height: 100vh;

	height: 1080px;
}

.hero-bg-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
			rgb(0, 0, 0, .6),
			rgb(0, 0, 0, .6)
		), url(../img/hero-bg.jpg) no-repeat fixed;
	background-size: cover;
}
.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hero-title {
	margin-bottom: 40px;
	font: 700 42px/1.2 Open Sans, sans-serif;
	text-align: center;
}
.hero-text {
	/*width: 840px;*/
	margin-bottom: 55px;
	/*margin-bottom: 60px;*/
	font: 400 20px/1.5 Open Sans, sans-serif;
	text-align: center;
}
.hero-btn {
	/*margin-bottom: 280px;*/
	display: inline-block;
	min-width: 252px;
	height: 50px;
	padding: 18px 52px;
	background-color: var(--bg-btn-color);
	border-radius: 25px;
	font: 400 14px/0.938 Open Sans, sans-serif;
	text-transform: uppercase;
}
.arrow {
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 24px;
}
.arrow:hover {
	transform: translate(-50%, 20%);
	cursor: pointer;  
}
.arrow:before {
	margin-bottom: 5px;
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	border: 3px solid transparent;
  border-bottom: 3px solid var(--primary-white-color);
  border-right: 3px solid white;
  transform: rotate(45deg);
}
.arrow:after {
	margin-top: -20px;
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	border: 3px solid transparent;
  border-bottom: 3px solid var(--primary-white-color);
  border-right: 3px solid white;
  transform: rotate(45deg);
}

/*услуги*/
.services {
	max-width: 1910px;
	margin: 0 auto;
}
/*.services-list {
	display: flex;
}*/
.services-list-item {
	position: relative;

	height: 205px;

	/*width: calc(100% / 7);
	height: 413px;*/
}
.services-list-item:hover .servise-img {
	transform: scale(0.85);
}
.servise-img {
	width: 100%;
	height: 100%;
	filter: brightness(45%);
	object-fit: cover;
	object-position: 15%;
	transition: all 300ms linear;
}

.services-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 235px;
	font: 700 18px/2 Open Sans, sans-serif;
	text-transform: uppercase;
	text-align: center;
}


/*клиенты*/
.clients {
	max-width: 1910px;
	margin: 0 auto;
	/*height: 188px;*/
	background-color: var(--primary-white-color);
}
.clients-list {
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--bg-clients-color);
}

.clients-list-item {
	display: none;
}
.clients-list-item.clients-mob {
	display: block;
}

/*преимущества*/
.advantages {
	width: 1910px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	margin-right: auto;
/*	background-image: linear-gradient(
			rgb(0, 0, 0, .6),
			rgb(0, 0, 0, .6)
		),
	url(../img/advant-bg.jpg);
	background-size: cover;*/
}
.advant-bg-box {
	width: 100%;
	height: 100%;
	background: linear-gradient(
		rgb(0, 0, 0, .6),
		rgb(0, 0, 0, .6)
		),
	url(../img/advant-bg.jpg);
	background-size: cover;
}
.advantages-box {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.advantages-title {
	margin-bottom: 44px;
	font: 700 30px/1.2 Open Sans, sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.advantages-list {
	justify-content: space-between;
	font: 600 16px/1.625 Open Sans, sans-serif;
	text-transform: uppercase;
	text-align: left;

	counter-reset: list-counter;
}

.advantages-list-item {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	padding-left: 30px;
	min-height: 148px;
	background-color: rgb(0, 0, 0, .4);
}
.advantages-list-item:before {
	counter-increment: list-counter 01;
	content: "0" counter(list-counter) ' ';
	margin-right: 24px;
	font: 300 52px/0.5 Open Sans, sans-serif;
	text-transform: uppercase;
}

.advantages-list-item:nth-child(2n) {
	margin-right: 0px;
}


/*индивидупльный подход*/

.indiv-approach {
	position: relative;
	max-width: 1910px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--primary-white-color);
}
/*.indiv-approach:before {
	content: '';
	position: absolute;
	left: 0;
	top: 65px;
	display: block;
	width: 850px;	
	height: 513px;
	background-color: black;
}*/

.indiv-appr-thumb {
	width: 100%;
	height: 513px;
	position: absolute;
	top: 120px;
}
.mob-bg {
	width: 100%;
	height: 100%;
	object-fit: none;
	object-position: 30% 70%;
}

.indiv-approach .container {
	/*display: flex;
	align-items: center;
	justify-content: space-between;*/
	/*padding-top: 108px;
	padding-bottom: 122px;*/

	/*padding-top: 120px;*/
	padding-top: 160px;
	padding-bottom: 120px;
}



.approach-box-title {
	position: relative;
	/*padding: 140px 68px 142px 36px;*/
	max-width: 654px;
	height: 430px;
	margin-bottom: 80px;
/*	background-image: linear-gradient(
			rgb(0, 0, 0, .6),
			rgb(0, 0, 0, .6)
		),
	url(../img/individ-approach1.jpg);
	background-size: cover;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 1.607;
	font-weight: 300;*/
}
.approach-box-title img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: brightness(25%);	
}
.indiv-approach-title {
	position: absolute;
	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
 	font: 300 30px/1.607 Open Sans, sans-serif;
	text-transform: uppercase;
}
.title-emphasis {
	font: 300 36px/1.2 Open Sans, sans-serif;
}

/*форма индивидульный заказ*/
/*.form-box {
	text-align: center;
}*/

.form-title {
	margin-bottom: 40px;
	font-size: 30px;
	color: rgb(0, 0, 0);
	font: 700 30px/1.4 Open Sans, sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.form-field {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	font-size: 12px;
	color: rgb(0, 0, 0);
	line-height: 1.094;
} 
.form-tell {
	margin-bottom: 20px;
}

.form-input {
	padding: 20px 20px;
	
	/*width: 361px;*/

	width: 100%;
	border-radius: 50px;
	border: 1px solid;
}
.form-label {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
		
	font-size: 10px;
	transform: translateY(-40px);
}

.submit {
	border: none;
	background-color: var(--bg-btn-color);
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1.094;
	color: var(--primary-white-color);
}




